<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordCount</title>
</head>
<body>
    <section>
        <header>
            <h1>There are {{count}} words in your text</h1>
            <nav>
                <a href="{% url 'home' %}">Home</a>
            </nav>
            <nav>
                <a href="{% url 'about' %}">About</a>
            </nav>
            <h2>Your Text</h2>
        </header>
        <main>
            {{fulltext}}
        </main>
        <footer>

        </footer>
    </section>
    <section>
        <header>
            <h3>WordCount</h3>
        </header>
        <main>
            {% for word, coundtotal in sortedwords %}

            {{word}} - {{coundtotal}}
            <br />
            {% endfor %}
        </main>
        <footer>

        </footer>
    </section>
</body>
</html>